<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <%- include('./partials/link') %>
    <title><%=title%></title>
  </head>
  <body>
    <%- include('./partials/header') %>

    <table
      class="table table-striped table-hover align-middle"
    >
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Categoría</th>
          <th scope="col">Diccionario</th>
          <th scope="col">Plantilla</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Presupuesto</td>
          <td>
            <a href="/ejecucion-presupuestal-ingresos"
              >1. Ejecución Presupuestal de Ingresos</a
            >
          </td>
          <td>
            <a
              href="/ejecucion-presupuestal-ingresos-ejemplo"
              >Descargar</a
            >
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Presupuesto</td>
          <td>
            <a href="/relacion-ingresos"
              >2. Relación de Ingresos</a
            >
          </td>
          <td>
            <a href="/relacion-ingresos-ejemplo"
              >Descargar</a
            >
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Presupuesto</td>
          <td>
            <a href="/ejecucion-presupuestal-gastos"
              >3. Ejecución Presupuestal de Gastos</a
            >
          </td>
          <td>
            <a href="/relacion-gastos-ejemplo">Descargar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Presupuesto</td>
          <td>
            <a href="/relacion-cdps">4. Relación de CDPs</a>
          </td>
          <td>
            <a href="/relacion-cdps-ejemplo">Descargar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Presupuesto</td>
          <td>
            <a href="/relacion-compromisos"
              >5. Relación de Compromisos</a
            >
          </td>
          <td>
            <a href="/relacion-compromisos-ejemplo"
              >Descargar</a
            >
          </td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Presupuesto</td>
          <td>
            <a href="/relacion-obligaciones"
              >6. Relación de Obligaciones</a
            >
          </td>
          <td>
            <a href="/relacion-obligaciones-ejemplo"
              >Descargar</a
            >
          </td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Presupuesto</td>
          <td>
            <a href="relacion-pagos"
              >7. Relación de Pagos</a
            >
          </td>
          <td>
            <a href="/relacion-pagos-ejemplo">Descargar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Contable y Financiera</td>
          <td>
            <a href="/auxiliar-saldos"
              >8. Auxiliar con Saldos</a
            >
          </td>
          <td>
            <a href=" /auxiliar-saldos-ejemplo"
              >Descargar</a
            >
          </td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>Contable y Financiera</td>
          <td>
            <a href="/libro-mayor-balance"
              >9. Libro Mayor y Balance</a
            >
          </td>
          <td>
            <a href="/libro-mayor-ejemplo">Descargar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>Contable y Financiera</td>
          <td>
            <a href="/estado-situacion-financiera"
              >10. Estado de Situación Financiera</a
            >
          </td>
          <td>
            <a href="/estado-financiero-ejemplo"
              >Descargar</a
            >
          </td>
        </tr>
        <tr>
          <th scope="row">11</th>
          <td>Programas y Proyectos</td>
          <td>
            <a href="/programa-proyecto"
              >11. Programas y Proyectos</a
            >
          </td>
          <td>
            <a href="/programas-proyecto-ejemplo"
              >Descargar</a
            >
          </td>
        </tr>
        <tr>
          <th scope="row">12</th>
          <td>Contratación</td>
          <td>
            <a href="/contratacion">12. Contratación</a>
          </td>
          <td>
            <a href="/contratacion-ejemplo">Descargar</a>
          </td>
        </tr>

        <tr>
          <th scope="row">13</th>
          <td>Obras de Infraestructura</td>
          <td>
            <a href="/obras">13. Matriz de Seguimiento de Obras</a>
          </td>
          <td>
            <a href="/obras-ejemplo">Descargar</a>
          </td>
        </tr>

        <tr>
          <th scope="row">13.1</th>
          <td>Obras de Infraestructura</td>
          <td>
            <a href="/anexacoordenadas">13.1 Matriz Anexa Coordenadas Adicionales</a>
          </td>
          <td>
            <a href="/coordenadas-ejemplo">Descargar</a>
          </td>
        </tr>

        <tr>
          <th scope="row">13.2</th>
          <td>Obras de Infraestructura</td>
          <td>
            <a href="/anexahitos">13.2 Matriz Anexa Hitos</a>
          </td>
          <td>
            <a href="/hitos-ejemplo">Descargar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
